h1 #{title}
include _loan_nav
table
    thead
        tr
            th Book
            th Patron
            th Loaned on
            th Return by
            th Returned on
            th Action
    tbody
        for loan in loans
            tr
                td
                    a(href='/books/' + loan.dataValues.book_id) #{loan.dataValues.Book.dataValues.title}
                td
                    a(href='/patrons/' + loan.dataValues.patron_id) #{loan.dataValues.Patron.dataValues.first_name} #{loan.dataValues.Patron.dataValues.last_name}
                td #{loan.dataValues.loaned_on}
                td #{loan.dataValues.return_by}
                td #{loan.dataValues.returned_on}
                td
                    if !loan.dataValues.returned_on
                        a.button(href='/returns/' + loan.dataValues.id) Return Book